AzureResourceGroup1/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_LA_AzureUpdate_name": {
      "defaultValue": "LA_AzureUpdate",
      "type": "String"
    },
    "connections_rss_externalid": {
      "defaultValue": "/subscriptions/fd17b4e4-9edb-46be-aeb7-23dccad4206e/resourceGroups/News_RG/providers/Microsoft.Web/connections/rss",
      "type": "String"
    },
    "connections_sql_externalid": {
      "defaultValue": "/subscriptions/fd17b4e4-9edb-46be-aeb7-23dccad4206e/resourceGroups/News_RG/providers/Microsoft.Web/connections/sql",
      "type": "String"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "northeurope"
      ],
      "defaultValue": "northeurope"
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "sqlcon"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "smsqlsrvr.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "Updates"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_1_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "rss_1_Connection_Name": {
      "type": "string",
      "defaultValue": "rss"
    },
    "rss_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "RSS"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_LA_AzureUpdate_name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('List_Azure_Updates')",
              "actions": {
                "For_each_2": {
                  "type": "Foreach",
                  "foreach": "@items('For_each')?['categories']",
                  "actions": {
                    "Insert_row_2": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "UpdateId": "@body('Insert_row')?['UpdateId']",
                          "Category": "@{items('For_each_2')}"
                        },
                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[UpdateCategory]'))}/items"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Insert_row": [
                      "Succeeded"
                    ]
                  }
                },
                "Insert_row": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "Title": "@items('For_each')['title']",
                      "Summary": "@items('For_each')?['summary']",
                      "Link": "@items('For_each')?['primaryLink']",
                      "ItemId": "@items('For_each')['id']",
                      "PubOn": "@items('For_each')?['publishDate']"
                    },
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Updates]'))}/items"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "List_Azure_Updates": [
                  "Succeeded"
                ]
              }
            },
            "List_Azure_Updates": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['rss']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/ListFeedItems",
                "queries": {
                  "feedUrl": "https://azurecomcdn.azureedge.net/en-gb/updates/feed/"
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 2
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "rss": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'rss')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('rss_1_Connection_Name'))]",
                "connectionName": "[parameters('rss_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "tags": {
        "displayName": "LogicApp"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('rss_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "encryptConnection": "[parameters('sql_1_encryptConnection')]",
          "privacySetting": "[parameters('sql_1_privacySetting')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('rss_1_Connection_Name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'rss')]"
        },
        "displayName": "[parameters('rss_1_Connection_DisplayName')]"
      }
    }
  ]
}